body {
  margin: 0;
  padding: 0;
  background: grey;
}

.title-cont {
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
}

#new-book {
  padding: 5px;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

#new-book:hover {
  background: grey;
  border: white;
}

#new-book:active {
  transform: scale(1.1);
}

.input-cont {
  padding: 10px;
}

.input-cont input {
  border-radius: 5px;
}

.form {
  display: none;
  background: white;
  position: fixed;
  max-width: 400px;
  top: 40%;
  padding: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}

.book-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10px 10px 0 10px;
}

.book {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  padding: 15px;
}

.btn {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.delete {
  background-color: red;
}

.read {
  background-color: green;
}

.not-read {
  background-color: brown;
}

.span-side {
  color: #004e82;
  font-weight: bolder;
}

@media (max-width: 700px) {
  .book-cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .form {
    left: 10px;
    right: 10px;
  }
}
